.logo{text-align: left;

height: auto;
width: auto;
max-height: 300px;
max-width: 300px;}  
.dropdowns{
vertical-align: top;
margin-bottom: 600px;
float: top;}
.box1, .box2, .box3, .box4, .box5, .box6{ 
text-align: center;
}
.dropdown1{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display: inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-bottom: 10px;
width: 300px;
vertical-align: top;
}

.dropdown-content1{
	display: none;
	position: absolute;
	background-color: #FFAD00;
width: 300px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,00.2);
padding: 12px, 16px;
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown1:hover .dropdown-content1{display: block;
position: relative;}

.dropdown2{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display:inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-top: 10px;
padding-bottom: 10px;
width: 300px;
}
.dropdown-content2{display: none;
position: absolute;
background-color: #006E00;
width: 300px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding: 12px, 16px;
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown2:hover .dropdown-content2{display: block;
position: relative}

.dropdown3{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display: inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-top: 10px;
padding-bottom: 10px;
width: 300px;

}

.dropdown-content3{display: none;
position: absolute;
background-color: #8FCCFF;
width: 300px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding: 12px, 16px;
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown3:hover .dropdown-content3{display:block;
position: relative;}

.dropdown4{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display: inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-top: 10px;
padding-bottom: 10px;
width: 300px;

}

.dropdown-content4{display: none;
position: absolute;
background-color: 	  #CC0000;
width: 300px;
padding: 12px, 16px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown4:hover .dropdown-content4{display: block;
position: relative;}

.dropdown5{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display: inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-top: 10px;
padding-bottom: 10px;
width: 300px;
}

.dropdown-content5{display: none;
position: absolute;
background-color: #450094;
width: 300px;
padding: 12px, 16px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown5:hover .dropdown-content5{display: block;
position: relative;}

.dropdown6{font-family: Arial;
font-weight: bold;
font-size: 25px;
text-align: center;
display: inline-block;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
padding-top: 10px;
padding-bottom: 10px;
width: 300px;
}

.dropdown-content6{display: none;
position: absolute;
background-color: #52EB33;
width: 300px;
padding: 12px, 16px;
box-shadow: 0px, 8px, 16px, 0px, rbga(0,0,0,0.2);
font-size: 15px;
border-radius: 4px;
border: 1px solid #AAAAAA;}

.dropdown6:hover .dropdown-content6{display: block;
position: relative;}  
