
@keyframes hovercolor {
	0% {top:100%; color:#FFFFFF;}
	50% {top:100%; color:#898989;}
	100% {top:100%; color:#898989;}
	
}



body {
	overflow-x: hidden;
	margin: 0;
	min-height: 100%
}

.pagebreak {
	height:300px
}
.parallax { 
    /* The image used */
    background: url("src/naturalresource.jpg") no-repeat center center fixed;
	
    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow-x: hidden;
}

.parallaxp2 {
    /* The image used */
    background:#262F34
    /* Set a specific height */
    height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.titlebox {
    background-color:white;
    position: absolute; /* needs to be absolute */
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 500px;
    height: 50px;
    font-family:Century Gothic;
    color:#202020;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
}


#list li {
display: inline;
text-align: right;
padding:10px;
height: 20px;
width: 30px;
   }

#list li a img{
height: 30px;
width: 30px;
padding-right: 20px;
float: right;
   }
#list a {
text-decoration: none;
color:#FFFFFF
}

#list a:hover {
animation-name: hovercolor;
animation-duration: 3s;
animation-iteration-count: 1;
color:#898989;
}

#list {
background-color:#262F34;   
position: fixed; 
z-index: 101;
height:60px;
width:100%;
font-family:Century Gothic;
}

/* ----------------------First Quarter of Page with icon and desc------------------- */ 
.sitedesc {
    background-color:#262F34;
    position: absolute; /* needs to be absolute */
	color:#FFFFFF;
    top: 15%; left: 10%; 
    width: 500px;
    height: 400px;
    padding:1em;
    font-family:Century Gothic;
    text-align: center;
    vertical-align: 25%;
    
}

.appicon img{
	position: absolute;
	border-radius: 15%;
	top: 17%; right: 12.5%;
	width: 400px;
	height: 400px;
	vertical-align: 75%;
	  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
	
	
}
/* ----------------------First Quarter of Page with icon and desc------------------- */ 
.sitedesc2 {
    background-color:#262F34;
    position: relative; /* needs to be absolute */
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 2500px;
    padding:3px;
    font-family:Century Gothic;
    color:#FFFFFF;
	

}


#base{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base2{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base3{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base4{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base5{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base6{
    background:#A0B084;
    height: 300px;
    margin-top: 55px;
	position: inline-block;
	list-style-type: none;
	top: 10;
	left: 0;
    width: 100px;
	font-family:Century Gothic;
	text-align: center;
	
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#base:before {
  border-bottom: 35px solid #FFBB00;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

#base2:before {
  border-bottom: 35px solid #3F681C;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

#base3:before {
  border-bottom: 35px solid #FB6542;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

#base4:before {
  border-bottom: 35px solid #375E97;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

#base5:before {
  border-bottom: 35px solid #DDBC95;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}


#base6:before {
  border-bottom: 35px solid #363237;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

.baseDetails {
	width: 70%;
	height: 300px;
	display: absolute;
	float:right;
	margin-top: 50px; margin-right: 30px;
}

.baseDetails p {
	padding: 10px;
	font-family:Century Gothic;
    text-align: center;
    vertical-align: middle;
  
}
.text {
	z-index:100px;
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	
}
.pagesbar {
}

.paper {
	background-color:#EFEFEF;
	margin:10px;
	width: 100%;
	height: 2250px;
}

.footer {
	background-color:#EFEFEF; 
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
	width:100%;
    margin-top: -3em;
	font-family:Century Gothic;
	
}

/* Animations Below */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
