body {
  background: url(https://dynaimage.cdn.cnn.com/cnn/w_1024,dpr_1.0,c_fill,h_576,ar_16:9/http%3A%2F%2Fi2.cdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170606121056-hawaii---travel-destination---shutterstock-457528552.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navBar-pos {
  padding-top: 10px;
  max-width: 1000px;
  min-width: 400px;
  width: 90%;
  position: fixed;
  margin: 0px auto;
  left:0;
  right:0;
}

.navBar {
  background-color: rgb(67,198,219);
  padding: 20px 0px 20px 0px;
  border-radius: 18px;
  padding-top: -1px;
}

  .logo-pos {
    padding-left: 20px;
    display: inline;
  }

    #logo {
      background-image: url(http://cdn.shopify.com/s/files/1/0247/3741/t/17/assets/logo.png?8327665980255007351);
      background-size: 60px auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 20px 35px 18px 35px;
    }

  .navLinks {
    color: #FFFFFF;
    font-size: 
    font-weight: 300;
    font-family: sans-serif;
  }

    #navHome {
      color: #000000;
      font-size: 20px;
      text-decoration: none;
      padding-left: 40px;
    }

      #navHome:hover{
        color: #DDDDDD;
      }

    #navFeed {
      color: #000000;
      font-size: 20px;
      text-decoration: none;
      padding-left: 40px;
    }

      #navFeed:hover{
        color: #DDDDDD;
      }

    #navMore {
      color: #000000;
      font-size: 20px;
      text-decoration: none;
      padding-left: 40px;
    }

      #navMore:hover{
        color: #DDDDDD;
      }

.intro {
  margin: 0px auto;
  width: 80%;
  padding-top: 160px;
  max-width: 800px;
  min-width: 600px;
  height: 450px;
}
	  
.p1-pos {
  float: left;
  display: inline;
  padding-top: 80px;
  width: 0%;
}
	  
#p1 {
  background-color: rgba(67,198,219,.9);
  border-radius: 20px;
  height: auto;
  width: 400px;
  float: left;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 500;
  color: #000000;
  padding: 20px;
}
  
.iphone1-pos {
  float: right;
  padding-top: px;
}

  .iphone1 {
    background-image: url(https://mockuphone.com/static/images/devices/apple-iphone7-silver-portrait.png);
    background-position: center center;
    width: 250px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    }

    #iphone1-gif {
      height: 314px;
      width: 178px;
      padding-top: 68px;
      padding-left: 35px;
    }
	
	
.cleanEnergy {
  background-color: #FFBA2E;
  margin: 100px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#cleanHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.localFood {
  background-color: #B5E13C;
  margin: 200px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#localHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.resourceManage {
  background-color: #27AE34;
  margin: 200px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#resourceHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.wasteReduction {
  background-color: #EC4726;
  margin: 200px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#wasteHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.sustainCom {
  background-color: #3EDBBC;
  margin: 200px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#sustainHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.workEdu {
  background-color: #A96CB0;
  margin: 200px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

#workHead {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
}

  